
@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}



body {
    margin: 0;
    font-family: Poppins-Regular;
    background: url('../images/Dark.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    text-align: center;
   /* background: rgba(0, 0, 0, 0.5); /* assombrit le fond */
}

 .container {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.logo {
   position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;   /* ou 100px selon la taille souhaitée */
    height: auto;
    z-index: 10;
    
}

h1 {
    font-size: 3em;
    margin: 20px 0 120px;
    font-family: Poppins-Regular;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.buttons a {
    text-decoration: none;
    color: #fff;
    background: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    transition: background 0.3s;
}

.buttons a:hover {
    background: #0056b3;
}

.consent {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.95rem;
}

.consent a {
    color: #007BFF;
    text-decoration: underline;
}

.buttons a.btn-disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

